body, .navbar {
    background-image: url("../images/black_paper.png") !important;
}
.navbar {
    font-family: 'Rock Salt', cursive !important;
}

.navbar a {
    color: cornsilk !important;
}

.navbar a:hover {
    color: rgb(243, 200, 200) !important;
}
.header {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#myBtn {
    background-color: rgba(0, 0, 0, 0);
    color: cornsilk;
    border-radius: 5px;
    padding: 5px;
}
.row {
    padding: 10px;
}

h1, #favorites {
    text-align: center;
    color: cornsilk;
    font-family: 'Rock Salt', cursive !important;
}

.recipes ul {
    list-style: none;
    font-family: sans-serif;
    margin-left: 10px;
}

.recipes {
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Rock Salt', cursive !important;
}

.recipes h5 {
    color: cornsilk;
    text-align: center;
    font-size: 25px;
}

.recipes h4 {
    font-family: sans-serif !important;
}

.header h1 {
    font-size: 112px;
    padding: 20px;
    margin-bottom: 10px;
}

.header h4 {
    font-size: 40px;
}

#cheeseStraws h3, 
#dinnerRolls h3 {
    text-align: left;
    color: cornsilk;
    font-family: 'Rock Salt', cursive !important;
    padding-bottom: 10px !important;
}

#dinnerRolls, #cheeseStraws {
    color: cornsilk;
    padding: 20px;
}

#frenchToast, #biscuits, #pancakes {
    background-color: cornsilk;
    background-image: url("../images/notebook_@2X.png") !important;
    padding-left: 25px;
    border-radius: 3px;
    margin-top: 10px;
}